<% provide(:title, 'Login') %>
<div class="container">
  <div class="page-header">
    <div class="container center">
      <h3>Se connecter</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <%= form_for(:session, url: login_path) do |f| %>

          <%= f.label :username %>
          <%= f.text_field :username, class: 'form-control' %>

          <%= f.label :password %>
          <%= link_to " Mot de passe oublié ?", new_password_reset_path%>
          <%= f.password_field :password, class: 'form-control' %>


          <%= f.submit "Connexion", class: "btn btn-primary" %>
      <% end %>

      <p>Pas de compte ? <%= link_to "Création de compte", register_path %></p>
    </div>
  </div>
</div>