<p id="notice"><%= notice %></p>

<h1>Listing Troncon Routes</h1>

<table>
  <thead>
    <tr>
      <th>Id rte500</th>
      <th>Vocation</th>
      <th>Nb chausse</th>
      <th>Nb voies</th>
      <th>Etat</th>
      <th>Acces</th>
      <th>Res vert</th>
      <th>Sens</th>
      <th>Res europe</th>
      <th>Num route</th>
      <th>Class adm</th>
      <th>Longueur</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @troncon_routes.each do |troncon_route| %>
      <tr>
        <td><%= troncon_route.id_rte500 %></td>
        <td><%= troncon_route.vocation %></td>
        <td><%= troncon_route.nb_chausse %></td>
        <td><%= troncon_route.nb_voies %></td>
        <td><%= troncon_route.etat %></td>
        <td><%= troncon_route.acces %></td>
        <td><%= troncon_route.res_vert %></td>
        <td><%= troncon_route.sens %></td>
        <td><%= troncon_route.res_europe %></td>
        <td><%= troncon_route.num_route %></td>
        <td><%= troncon_route.class_adm %></td>
        <td><%= troncon_route.longueur %></td>
        <td><%= link_to 'Show', troncon_route %></td>
        <td><%= link_to 'Edit', edit_troncon_route_path(troncon_route) %></td>
        <td><%= link_to 'Destroy', troncon_route, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Troncon route', new_troncon_route_path %>
