<% provide(:title, 'Tronçons') %>
<section>
  <div class="container">
    <div class="page-header">
      <div class="container center">
        <h3 class="session">Visualisation</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">


        <p id="notice"><%= notice %></p>

        <p>
          <strong>Vocation:</strong>
          <%= @troncon_route.vocation %>
        </p>

        <p>
          <strong>Nb chausse:</strong>
          <%= @troncon_route.nb_chausse %>
        </p>

        <p>
          <strong>Nb voies:</strong>
          <%= @troncon_route.nb_voies %>
        </p>

        <p>
          <strong>Etat:</strong>
          <%= @troncon_route.etat %>
        </p>

        <p>
          <strong>Acces:</strong>
          <%= @troncon_route.acces %>
        </p>

        <p>
          <strong>Res vert:</strong>
          <%= @troncon_route.res_vert %>
        </p>

        <p>
          <strong>Sens:</strong>
          <%= @troncon_route.sens %>
        </p>

        <p>
          <strong>Res europe:</strong>
          <%= @troncon_route.res_europe %>
        </p>

        <p>
          <strong>Num route:</strong>
          <%= @troncon_route.num_route %>
        </p>

        <p>
          <strong>Class adm:</strong>
          <%= @troncon_route.class_adm %>
        </p>

        <p>
          <strong>Longueur:</strong>
          <%= @troncon_route.longueur %>
        </p>

        <%= link_to 'Éditer', edit_troncon_route_path(@troncon_route) %> |
        <%= link_to 'Retour', troncon_routes_path %>
      </div>
    </div>
  </div>
</section>

