<div id='cssmenu'>
  <ul>
    <li><%= link_to "RoadQuest", acceuil_path%></li>
    <li><%= link_to "À propos", acceuil_path%></li>
    <li class='last'><a href="mailto:guillaume.remi@courrier.uqam.ca;brien-lejeune.stephanie@courrier.uqam.ca;
    sawadogo.abdoul_faical@courrier.uqam.ca"><span>Contact</span></a></a>
    </li>
    <li class='active has-sub'><a href='#'><span>Liens Utiles</span></a>
      <ul>
        <li class='has-sub'><a href='http://www.uqam.ca/'><span>UQÀM</span></a>
          <ul>
            <li><a href='http://intra.info.uqam.ca/Members/mili_h/Enseignement/inm5151-hiver2016/accueil'><span>Site du cours</span></a></li>
            <li class='last'><a href='http://info.uqam.ca/baccalaur%C3%A9at_en_informatique_et_g%C3%A9nie_logiciel/'><span>Département d'informatique</span></a></li>
          </ul>
        </li>
        <li class='has-sub'><a href='#'><span>Réferences</span></a>
          <ul>
            <li><a href='http://getbootstrap.com/'><span>Bootstrap</span></a></li>
            <li class='last'><a href='https://www.railstutorial.org/'><span>Ruby On Rails</span></a></li>
            <li class='last'><a href='http://openclassrooms.com/'><span>Openclassroom</span></a></li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="has-sub"><a href='#'><span>Services</span></a>
      <ul>
        <li><%= link_to "Recherches", recherches_path%></li>
        <li><%= link_to "Liste des appels d'offres", offres_path%></li>
        <li><%= link_to "Création de cartes", cartes_path%></li>
      </ul>
    </li>
    <% if logged_in? %>
        <li class='has-sub'><a href='#'><span>Compte</span></a>
          <ul>
            <li><%= link_to "Se déconnecter", logout_path, method: :delete%></li>
          </ul>
        </li>
    <% else %>
        <li><%= link_to "Se connecter", login_path%></li>
    <% end %>
    <li><%= link_to "Création de compte", signup_path%></li>
  </ul>
</div>

<script type="text/javascript">
  ( function( $ ) {
    $( document ).ready(function() {
      $('#cssmenu').prepend('<div id="menu-button">RoadQuest</div>');
      $('#cssmenu #menu-button').on('click', function(){
        var menu = $(this).next('ul');
        if (menu.hasClass('open')) {
          menu.removeClass('open');
        }
        else {
          menu.addClass('open');
        }
      });
    });
  } )( jQuery );
</script>