<div id='cssmenu'>
  <ul>
    <li><%= link_to "RoadQuest", acceuil_path %></li>
    <li><%= link_to "À propos", acceuil_path %></li>
    <li><%= link_to "Services", recherches_path %></li>
    <li><%= link_to "Contact", acceuil_path%></li>

    <% if logged_in? %>
        <li><%= link_to "Se déconnecter", logout_path, method: :delete %></li>
    <% else %>
        <li><%= link_to "Se connecter", login_path %></li>
    <% end %>
    <li><%= link_to "Créer un compte", signup_path %></li>
  </ul>
</div>
